<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Recommendation</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body class="bg">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="../index">Susruta</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="../index">Home</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../about/">About</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Workout
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="../workout_type/">Type</a>
							<a class="dropdown-item" href="../workout_trainer/">Trainer</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../recipe">Recipe</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Forum
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="../forum/">Forum feed</a>
                            <a class="dropdown-item" href="../forum_post/">Add post</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="../recommendation/">Recommendation<span class="sr-only">(current)</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../visual/">Visualization</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Login
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="../signin/">Sign In</a>
							<a class="dropdown-item" href="../signup/">Sign Up</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="../user_info/">Update User Info</a>
							<a class="dropdown-item" href="../logout/">Log Out</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<h1>Recommendation</h1>
			
			<form action="." method="post">
				{% csrf_token %}
				
				<div class="input-group mb-3 col-2">
					<select class="custom-select" name="type">
						<option selected>Choose...</option>
						<option value="true">video</option>
						<option value="false">channel</option>
					</select>
				</div>

				<div class="form-group">
					<label for="keyowrd">Keyword:</label>
					<input type="text" class="form-control" id="keyowrd" name="keyword" placeholder="Enter keyword">
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="minViewCnt">View Count ></label>
					</div>
					<select class="custom-select" id="minViewCnt" name="minViewCnt">
						<option value="0" selected>default</option>
						<option value="1000">1K</option>
						<option value="10000">10K</option>
						<option value="100000">100K</option>
						<option value="1000000">1M</option>
					</select>
				</div>

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="MinSubscriberCnt">Subscriber Count ></label>
					</div>
					<select class="custom-select" id="MinSubscriberCnt" name="MinSubscriberCnt">
						<option value="0" selected>default</option>
						<option value="1000">1K</option>
						<option value="10000">10K</option>
						<option value="100000">100K</option>
						<option value="1000000">1M</option>
					</select>
				</div>
				
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
	
			<table class="table">
				{% if type %}
				<tr>
					<th>Vido Title</th>
					<th>View Count</th>
				</tr>
				{% for x in queryset %}
				<tr>
					<td><a href="https://www.youtube.com/watch?v={{ x.id }}">{{ x.title }}</a></td>
					<td>{{ x.num }}</td>
				</tr>
				{% endfor %}
				{% else %}
				<tr>
					<th>Channel Title</th>
					<th>Subscriber Count</th>
					<th>Matched Video Count</th>
				</tr>
				{% for x in queryset %}
				<tr>
					<td><a href="https://www.youtube.com/channel/{{ x.id }}">{{ x.title }}</a></td>
					<td>{{ x.num }}</td>
					<td>{{ x.cnt }}</td>
				</tr>
				{% endfor %}
				{% endif %}
			</table>
		</div>
	
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>