<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Workout Video</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
			
		<style>
      .pic {
        width: 150px;
        height: 150px;
      }
		</style>
	</head>
	<body class="bg">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="../index">Susruta</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="../index">Home</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../about/">About</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Workout<span class="sr-only">(current)
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="../workout_type/">Type</a>
							<a class="dropdown-item" href="../workout_trainer/">Trainer</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../recipe">Recipe</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Forum
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="../forum/">Forum feed</a>
                            <a class="dropdown-item" href="../forum_post/">Add post</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../recommendation/">Recommendation</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../visual/">Visualization</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Login
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="../signin/">Sign In</a>
							<a class="dropdown-item" href="../signup/">Sign Up</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="../user_info/">Update User Info</a>
							<a class="dropdown-item" href="../logout/">Log Out</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>

    <div class="container">
		<div class="row">
			<div class="col">
				<img src="https://yt3.ggpht.com/Y-D_T2ypbS0TZBcNO9I6DzsLY0pKBgtlsOpjZ5TXL2tzum5cZz8wIeQIo-cEvXZaAPulCmCADQ=s176-c-k-c0x00ffffff-no-rj-mo" class="pic">
				<h3 class="word"><a href="../workout_trainer_grid/?type=0">Caroline Girvan</a></h3>
			</div>
			<div class="col">
				<img src="https://yt3.googleusercontent.com/ytc/AMLnZu_lvWhe4TdhL6f2Qkg4FU2Pw99Wc5_VEjw_tqlVmw=s176-c-k-c0x00ffffff-no-rj-mo" class="pic">
				<h3 class="word"><a href="../workout_trainer_grid/?type=1">Chloe Ting</a></h3>
			</div>
			<div class="col">
				<img src="https://yt3.ggpht.com/l_FX8UZeYZ6eKUueEH5YucCd-Ce2y6CraxOy6-KIb-o9i05JRvL5lA4wwmY6rTiN4pUIjOTweg=s176-c-k-c0x00ffffff-no-rj-mo" class="pic">
				<h3 class="word"><a href="../workout_trainer_grid/?type=2">Daniela Suarez</a></h3>
			</div>
			<div class="w-100"></div>
			<div class="col">
				<img src="https://yt3.ggpht.com/f4zSKpCbIO6oo7wDS4cHY_GDLqXTSrjWQlRTTkEqeF9jjF2xxIHGsNfIkebZ5EMxjnNtTZXwvsQ=s176-c-k-c0x00ffffff-no-rj-mo" class="pic">
				<h3 class="word"><a href="../workout_trainer_grid/?type=3">Deepti</a></h3>
			</div>
			<div class="col">
				<img src="https://yt3.ggpht.com/5WDa8lyHd54_psSHn_ZnPBlEo9jVS8krRvqu0OndZ865JSzR-JW0n3RkO26ovSBjMfxwdRgBpw=s176-c-k-c0x00ffffff-no-rj-mo" class="pic">
				<h3 class="word"><a href="../workout_trainer_grid/?type=4">Jorge Tabet</a></h3>
			</div>
			<div class="col">
				<img src="https://yt3.googleusercontent.com/ytc/AMLnZu_hLiVKDrhScG_CPirRg-caL3-tN2_ucqePKREn0g=s176-c-k-c0x00ffffff-no-rj-mo" class="pic">
				<h3 class="word"><a href="../workout_trainer_grid/?type=5">Kit Rich</a></h3>
			</div>
			<div class="w-100"></div>
			<div class="col">
				<img src="https://yt3.googleusercontent.com/ytc/AMLnZu8ApYRcCrTrTKw__cQX7uu7nSbYeLD45Q9gTQZE0w=s176-c-k-c0x00ffffff-no-rj-mo" class="pic">
				<h3 class="word"><a href="../workout_trainer_grid/?type=6">Lucy Wyndham-Read</a></h3>
			</div>
			<div class="col">
				<img src="https://yt3.googleusercontent.com/ytc/AMLnZu-c1Kh3ncL9snxqDbvO6BqP3ITehjUDSdcjZ0y8ZQ=s176-c-k-c0x00ffffff-no-rj-mo" class="pic">
				<h3 class="word"><a href="../workout_trainer_grid/?type=7">Mady Morrison</a></h3>
			</div>
			<div class="col">
				<img src="https://yt3.ggpht.com/Nq7Klzg66rBP4rlwMLc-NuS-6j65nstrfEo6JRK3hjFyPuzH27jD3dy331n422EQeVxzykVHJw=s176-c-k-c0x00ffffff-no-rj-mo" class="pic">
				<h3 class="word"><a href="../workout_trainer_grid/?type=8">Move With Nicole</a></h3>
			</div>
			<div class="w-100"></div>
			<div class="col">
				<img src="https://yt3.googleusercontent.com/ytc/AMLnZu-3wGkwJ-gwWdoBoiGAvpgljl48l9KzbrTq9JMp8A=s176-c-k-c0x00ffffff-no-rj-mo" class="pic">
				<h3 class="word"><a href="../workout_trainer_grid/?type=9">Pamela Reif</a></h3>
			</div>
			<div class="col">
				<img src="https://yt3.ggpht.com/JcOB1LKS2mZW3cdGtL1-d56sckQkXVsWM54S4hUH-1aVrnHM_jyQY5AoGRVSElavwb2VeHWe=s176-c-k-c0x00ffffff-no-rj-mo" class="pic">
				<h3 class="word"><a href="../workout_trainer_grid/?type=10">Heather Robertson</a></h3>
			</div>
			<div class="col">
				<img src="https://yt3.googleusercontent.com/ytc/AMLnZu_uALluQ5g_EEivtBVBoswKGkgv8nBuN2p3NyB8-A=s176-c-k-c0x00ffffff-no-rj-mo" class="pic">
				<h3 class="word"><a href="../workout_trainer_grid/?type=11">Simeon Panda</a></h3>
			</div>
		</div>
    </div>
	
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>